*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    background-color:black;
    scroll-behavior: none;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#33708870;
    font-family: 'Poppins', sans-serif;
}
/*nav bar active ,scrolle, focus style*/
.nav-links ul li a:active{
    background-color:yellow;
}
.nav-links ul li a:focus{
    background-color: blue;
}
.nav-links ul li a:visited{
    background-color: red;
}
.nav-links a:hover{
    background-color: green;
}
.logo{
    color: rgb(226, 226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
   
    width: 50%;

}
header{
    top: 0;
    position: relative;;
    left: 0;
    right: 0;
    border-bottom: 1px solid #423940;
    padding: 0 15px;
    z-index: 10;
}
header .logo {
text-decoration: none;
font-size: 25px;
font-weight: 700;
text-transform: uppercase;
position: relative;
}
header  ul li{

    list-style: none;
}

.nav-links a {
    color:white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}
/*abou me style*/
.about_me h3{
    

    color:rgb(11, 12, 12);
    background:none;
    font-weight: 100;
    margin: 50px;
    align-items: center;
    position: relative;
    text-align: center;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 5%;
}
#about-logo img {
    margin-top: 10%;
    float: left;
    width: 100%;
    height: 250px;
}

.content-footer,
.masthead-heading,
.masthead-intro {
   text-align:left;
}


.masthead {
   padding: 6em 0;
   background-image: url('https://www.freepik.com/free-vector/programmers-develop-program-platforms-cross-platform-programming-cross-platform-development-structure-concept-white-background-bright-vibrant-violet-isolated-illustration_10780396.htm#page=1&query=programming%20background&position=30');
   background-size: cover;
   background-repeat: no-repeat;
   border-top: solid 1em #FFCF33;
}


.masthead-intro {
   /* Layout Declarations */
   margin-bottom: 0.1em;
   /* Typography Declarations */
   font-family: "Gentium Book Basic", Georgia, serif;
   font-size: 2em;
}

.masthead-heading {
   /* Layout Declarations */
   color: #F1C863;
   margin-top: -0.2em;
   /* Typography Declarations */
   font-family: "Open Sans", "Helvetica Neue", sans-serif;
   font-weight: bold;
   font-size: 6em;
   letter-spacing: -0.02em;
   text-transform: uppercase;
}

.introduction-section,
.location-section,
.questions-section {
   max-width: 38em;
   margin-left:10%;
   margin-right: auto;
   margin-top: 2em;
}

.introduction-section > p,
.location-section > p,
.questions-section,
.content-footer > p {
   /* Typography Declarations */
   font-weight: 300;
   letter-spacing: 0.05em;
}

.questions-section > h2 {
   font-family: "Gentium Book Basic", Georgia, serif;
   font-size: 1.2em;
   font-weight: bold;
   /* Layout */
   margin: 2em 0 1em 0;
   color: blue;
}

section > h1 {
   margin-top: 2em;
   color:green;
}

.content-footer,
.masthead-heading,
.masthead-intro {
   text-align: center;
}

.masthead {
   padding: 6em 0;
   background-image: url('https://i.imgur.com/yGmrlyg.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   border-top: solid 1em #FFCF33;
}

.masthead-intro {
   margin-bottom: 0.1em;
   font-family: "Gentium Book Basic", Georgia, serif;
   font-size: 2em;
}

.masthead-heading {
   margin-top: -0.2em;
   font-family: "Open Sans", "Helvetica Neue", sans-serif;
   font-weight: bold;
   font-size: 6em;
   letter-spacing: -0.02em;
   text-transform: uppercase;
}
.introduction > p,
.location > p,
.content-footer > p {
   /* Typography Declarations */
   font-weight: 300;
   letter-spacing: 0.05em;
}
h2 {
   /* Typography Declarations */
   font-family: "Gentium Book Basic", Georgia, serif;
   font-size: 1.2em;
   font-weight: bold;
}

.introduction-section,
.location-section,
.questions-section {
   max-width: 38em;
   margin-left: auto;
   margin-right: auto;
   margin-top: 2em;
}
.content-footer {
   margin: 50px 0;
   padding: 20px 0;
   text-align: center;
   background-color: #73A8C2;
   text-decoration: none;
}
.social > li {
   display: inline-block;
   margin: 0 5px;
}
.content-footer > p {
   color: #F7EDE1;
}
/*style for skils*/
.gallery {
                    display: grid;
                    grid-template-columns: repeat(8, 1fr);
                    grid-template-rows: repeat(8, 5vm);
                    grid-gap:1px;
                    margin-left:10%;
                    margin-top:3%;
                    margin-bottom: 3%;
                }
                .gallery__img {
                    max-width:100%;
					
                  
				}
				
                /*this help us to define the where should the item palced */
                .gallery__item--1 {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 3;
            }
            .gallery__item--2 {
                    grid-column-start: 3;
                    grid-column-end: 5;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
               
                .gallery__item--3 {
                    grid-column-start: 5;
                    grid-column-end: 7;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
                .gallery__item--4 {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 4;
                    grid-row-end: 6;
                }
/* style for contact*/
form{
    width:80%;
    margin: 10% auto;
    text-align: center;

}
::placeholder{
    color:teal;
}
legend{
    font-size: 1.5em;
    font-weight: bold;

}
fieldset{
    border: 2px solid #009D22;
    width: 50%;
    margin: auto;
    border-radius: 7px;
    background-image: linear-gradient(to bottom,hsl(0,80%,50%),#bada55);
}
input,select,textarea{
    border:1px solid rgb(0,34,0);
    margin:5px;
    padding: 5px 30px 5px 50px;
    width: 50%;
    text-align: center;
    font-size: 1em;
    border-radius: 7px;
}
/*style for projects*/
legend{
    color: white;
    font-size: bold;
}
.projects{
    margin:2%;
    padding: 3%;
}
.projects ul li a {
    list-style-type:none;
    text-decoration: none;
    color:cyan;
}
.projects ul li a:hover{
    color:green;
}
.projects ul li a:active{
    color:red;
}
.projects ul li a:focus{
    color: yellow;
}
footer{
    position:relative;
    bottom: 0;
    right: 0;
    left: 0;
    margin:0;
    text-align: center;
    width: 100%;
    padding-top:20px;
    padding-bottom: 15px;
    background-color:#33708870;
  
    
  }
  footer i {
      margin:1%;
      
  }
  /*this style for container */
  .container{
    max-width: 1300px;
    margin: auto;
    padding-left:25px;
    padding-right:25px;
}
.row{
    display: flex;
    align-items:left;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 400px;
    
}
.col-2 img {
    

    border-radius: 7pc;
    width:90%;
    height:90%;
}
.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 50px 0;
    color: white;
}
p{
    color: white;
}
.btn{
    display: inline-block;
    background: #30a313;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
/*small screen style max -width:600px*/
@media only screen and (max-width: 600px)
{
    .logo{
        letter-spacing: 2px;
        font-size: 20px;
        padding-bottom: 45%;
    }
    .nav-links{
        display: block;
        width: 50%;
        text-align: right;
        padding-right: 4%;

    }
    header{
        position: relative;
        left: 5px;
        right: auto;
        padding: 0;
        z-index: 10;
    }
    header .logo{
        font-size: 12px;
        font-weight: 100;
        position: relative;
    }
	.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 10px 0;
    color: white;
    padding-left:20%;
}
 .col-2 p{
    color: white;
    padding-left:20%;

}
.btn{
    display: inline-block;
    background: #30a313;
    color: #fff;
    padding: 8px 30px;
    margin: 30px;
    padding-left:20%;
    border-radius: 30px;
}
    form{
        width:100%;
        margin: 10% auto;
        text-align: center;
    
    }
    ::placeholder{
        color:teal;
    }
    legend{
        font-size: 1.5em;
        font-weight: bold;
    
    }
    fieldset{
        border: 2px solid #009D22;
        width: 100%;
        margin: auto;
        border-radius: 7px;
        background-image: linear-gradient(to bottom,hsl(0,80%,50%),#bada55);
    }
    input,select,textarea{
        border:1px solid rgb(0,34,0);
        margin:4px;
        padding: 5px 30px 5px 50px;
        width: 100%;
        text-align: center;
        font-size: 1em;
        border-radius: 7px;
    }
    /*style for projects*/
    legend{
        color: white;
        font-size: bold;
    }
    .gallery {
        background-color:unset;
        width:100%;
        height:100%;
        opacity:1.5;
    } 
     
           .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 5;
}
.gallery__item--2 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 5;
    }
   
    .gallery__item--3 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 9;
    }
    .gallery__item--4 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 9;
    }
     h4{
         float:left;
         margin-left:70%;
         text-align:left;
    }

}
/* style for tablet or screen max-width:992px*/
@media screen and (max-width: 992px){
    .logo{
        letter-spacing: 2px;
        font-size: 20px;
        padding-bottom: 45%;
    }
    .nav-links{
        display: block;
        width: 50%;
        text-align: right;
        padding-right: 4%;

    }
    header{
        position: relative;
        left: 5px;
        right: auto;
        padding: 0;
        z-index: 10;
    }
    header .logo{
        font-size: 12px;
        font-weight: 100;
        position: relative;
    }
	.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 10px 0;
    color: white;
    padding-left:20%;
}
 .col-2 p{
    color: white;
    padding-left:20%;

}
.btn{
    display: inline-block;
    background: #30a313;
    color: #fff;
    padding: 8px 30px;
    margin: 30px;
    padding-left:20%;
    border-radius: 30px;
}
    form{
        width:80%;
        margin: 10% auto;
        text-align: center;
    
    }
    ::placeholder{
        color:teal;
    }
    legend{
        font-size: 1.5em;
        font-weight: bold;
    
    }
    fieldset{
        border: 2px solid #009D22;
        width: 100%;
        margin: auto;
        border-radius: 7px;
        background-image: linear-gradient(to bottom,hsl(0,80%,50%),#bada55);
    }
    input,select,textarea{
        border:1px solid rgb(0,34,0);
        margin:4px;
        padding: 5px 30px 5px 50px;
        width: 80%;
        text-align: center;
        font-size: 1em;
        border-radius: 7px;
    }
    /*style for projects*/
    legend{
        color: white;
        font-size: bold;
    }

}
